#main {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-auto-rows: minmax(80px, auto);

}
.home {
    grid-column: 1 / 9;
    grid-row: 2 / 10;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(150px, auto);
    margin: 15px 50px;

}

.home-div {
    z-index: -1;
    position: absolute;
    height: 500px;
    width: 800px;
    background-color: #f2e4cc;
    transform: translate(-40px, -40px);
    -webkit-transform: translate(-40px, -40px);
    -moz-transform: translate(-40px, -40px);
    -ms-transform: translate(-40px, -40px);
    -o-transform: translate(-40px, -40px);
    border-radius: 5px 40px 5px 40px;
    -webkit-border-radius: 5px 40px 5px 40px;
    -moz-border-radius: 5px 40px 5px 40px;
    -ms-border-radius: 5px 40px 5px 40px;
    -o-border-radius: 5px 40px 5px 40px;
}

.home-img img {
    height: 500px;
    width: 800px;
    border-radius: 5px 40px 5px 40px;
    -webkit-border-radius: 5px 40px 5px 40px;
    -moz-border-radius: 5px 40px 5px 40px;
    -ms-border-radius: 5px 40px 5px 40px;
    -o-border-radius: 5px 40px 5px 40px;
}

.home-detail {
    display: flex;
    flex-direction: column;
    margin: 50px;
    color: var(--font-color3);
    padding: 5px;
}

.home-detail h1 {
    font-size: 55px;
    letter-spacing: 2px;

}

.home-detail p {
    font-size: 18px;
    letter-spacing: 1px;
}

.home-detail button {
    margin: 10px 10px;
    font-size: 18px;
    padding: 15px 20px;
    background-color: #f34949;
    color: white;
    border: 2px solid var(--font-color);
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    border-radius: 10px 20px 10px 20px;
    -webkit-border-radius: 10px 20px 10px 20px;
    -moz-border-radius: 10px 20px 10px 20px;
    -ms-border-radius: 10px 20px 10px 20px;
    -o-border-radius: 10px 20px 10px 20px;
}

.home-detail button:hover {
    background-color: #f62222;    
}
.home-detail div{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
}
.home-detail div li{
    list-style: none;
    margin: 15px 10px;
    padding: 5px 20px;
    border-right: 1px solid black;
 
}
.home-detail div li img{
    height: 30px;
    width: 30px;
}
.home-detail div li p{
    font-size: 16px;
}
.sph{
    grid-column: 1 / 9;
    grid-row: 10 / 11;  
}
.sph h1{
    text-align: center;
    font-size: 35px;
}
.specialDish{
    grid-column: 1 / 9;
    grid-row: 11 / 15;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(150px, auto);
    margin: 15px 50px;

}
.specialDish2{
    grid-column: 1 / 9;
    grid-row: 16 / 21;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(150px, auto);
    margin: 15px 50px;

}.specialDish3{
    grid-column: 1 / 9;
    grid-row: 22 / 27;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(150px, auto);
    margin: 15px 50px;

}
.specialDish-img img {
    height: 500px;
    width: 800px;
    border-radius: 5px 40px 5px 40px;
    -webkit-border-radius: 5px 40px 5px 40px;
    -moz-border-radius: 5px 40px 5px 40px;
    -ms-border-radius: 5px 40px 5px 40px;
    -o-border-radius: 5px 40px 5px 40px;
}

.specialDish-detail {
    display: flex;
    flex-direction: column;
    margin: 50px;
    padding: 5px;
}

.specialDish-detail h1 {
    font-size: 55px;
    letter-spacing: 2px;

}

.specialDish-detail p {
    font-size: 18px;
    letter-spacing: 1px;
}

.specialDish button, .specialDish2 button, .specialDish3 button {
    margin: 10px 10px;
    font-size: 18px;
    padding: 15px 20px;
    background-color: #f34949;
    color: white;
    border: 2px solid var(--font-color);
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    border-radius: 10px 20px 10px 20px;
    -webkit-border-radius: 10px 20px 10px 20px;
    -moz-border-radius: 10px 20px 10px 20px;
    -ms-border-radius: 10px 20px 10px 20px;
    -o-border-radius: 10px 20px 10px 20px;
}

.specialDish button:hover, .specialDish2 button:hover, .specialDish3 button:hover {
    background-color: #f62222;    
}
@media only screen and (max-width:1280px){
    .home-img img {
        height: 400px;
        width: 700px;
    }
    .home-div{
        height: 400px;
        width: 700px;
    }
    .home-detail {
        margin: 0px 20px;
        padding: 5px;
    }
    
    .home-detail h1 {
        font-size: 50px;
        text-align: center;
    }
    
    .home-detail p {
        font-size: 16px;
        letter-spacing: 1px;
        text-align: center;
    }
    .home-detail{
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    
    .home-detail button {
        margin: 10px 10px;
        font-size: 18px;
        padding: 15px 50px;
        width: 80%;
    }
    .home-detail div li{
        margin: 5px 5px;
        padding: 5px 10px;     
    }
    .home-detail div li img{
        height: 20px;
        width: 20px;
    }
    .specialDish-img img {
        height: 400px;
        width: 700px;
    }
}
@media only screen and (max-width:1060px){
    .home-img img {
        height: 350px;
        width: 500px;
    }
    .home-div{
        height: 350px;
        width: 500px;
    }
    .home-detail {
        margin: 0px 20px;
        padding: 5px;
    }
    
    .home-detail h1 {
        font-size: 42px;
        text-align: center;
    }
    
    .home-detail p {
        font-size: 16px;
        letter-spacing: 1px;
        text-align: center;
    }

    .home-detail button {
        margin: 10px 10px;
        font-size: 18px;
        padding: 15px 50px;
        width: 80%;
    }
    .home-detail div li{
        margin: 5px 5px;
        padding: 5px 10px;     
    }
    .home-detail div li img{
        height: 20px;
        width: 20px;
    }
    .specialDish-img img {
        height: 350px;
        width: 500px;
    }
}
@media only screen and (max-width:990px){
    .home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    }
    .home-img img {
        height: 350px;
        width: 600px;
    }
    .home-div{
        height:350px;
        width: 600px;
    }
    .specialDish-img img {
        height: 300px;
        width: 450px;
    }
    .sph{
        margin-top: 50px;
    }
    .specialDish-detail{
        margin: 10px;
    }
}
@media only screen and (max-width:800px){
    .home-detail button {
        width: 65%;
    }
    .specialDish, .specialDish3{
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      justify-content: center;
      margin: 15px 50px;
    
    }
    .specialDish2{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 15px 50px;
    }
    .specialDish-detail p {
       text-align: center;
    }
    .specialDish-detail {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 50px;
        padding: 5px;
    }
    .specialDish-img img {
        height: 350px;
        width: 600px;
    }

    .specialDish-detail button {
        width: 65%;
    }
}
@media only screen and (max-width:730px){
    .home-img img {
        height: 350px;
        width: 500px;
    }
    .home-div{
        height: 350px;
        width: 500px;
    }
    .specialDish-img img {
        height: 300px;
        width: 500px;
    }
}
@media only screen and (max-width:620px){
    .home-img img {
        height: 300px;
        width: 450px;
    }
    .home-div{
        height: 300px;
        width: 450px;
    }
    
}
@media only screen and (max-width:560px){
    .home-img img {
        height: 200px;
        width: 350px;
    }
    .home-div{
        height: 200px;
        width: 350px;
    }
    .specialDish-img img {
        height: 250px;
        width: 400px;
    }
    .home-detail h1 {
        font-size: 35px;
        letter-spacing: 1px;
    
    }
}
@media only screen and (max-width:460px){
    .home{
        margin-top: -150px;
    }
    .home-img img {
        height: 150px;
        width: 300px;
    }
    .home-div{
        height: 150px;
        width: 300px;
    }
    .specialDish-img img {
        height: 200px;
        width: 350px;
    }
    .home-detail h1 {
        font-size: 35px;
        letter-spacing: 1px;
    
    }
    .home-detail h1 {
        font-size: 25px;
        letter-spacing: 1px;
    
    }
    .home-detail button {
        width: 50%;
        font-size: 14px;
        padding : 10px 20px;
    }
    .sph{
        margin-top: -100px;
    }
    .specialDish, .specialDish2, .specialDish3{
        margin-top: -100px;
    }
    .specialDish-detail button {
        width: 60%;
        font-size: 14px;
        padding : 10px 20px;
    }
}
@media only screen and (max-width:360px){
    .specialDish-img img {
        height: 200px;
        width: 250px;
    }
}