.dropdown-menu li a:hover{ background-color: #f62222 !important;
    color: white !important;
    transition: 0.8s; -webkit-transition: 0.8s; -moz-transition: 0.8s; -ms-transition: 0.8s; -o-transition: 0.8s;
}
