.parallax{
padding: 150px 0px;
}
.meal-parallax {
    grid-column: 1 / 9;
    grid-row: 15 / 30;
    background-image: url(./img/parallax.jpg);
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(100%);
    -webkit-filter: brightness(100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 20px;


}

.meal-parallax h4 {
    font-style: italic;
    font-size: 24px;
    letter-spacing: 2px;
    text-align: center;
    color: white;
}

.meal-parallax h1 {
   
    color: #f62222;
    text-align: center;
    font-size: 45px;
    letter-spacing: 2px;
    text-align: center;
}
@media only screen and (max-width:500px){
    .meal-parallax h1{
        font-size: 40px;
    }
    .meal-parallax h4{
        font-size: 20px;
    }
}
